doctype
html
  head
    title Service Worker Demo
    link(href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet")
    link(rel="stylesheet" href="/main.css")
    link(rel="icon" type="image/x-icon" href="/cat.png")
  body
    != yield
    script(src="/main.js")
